.card {
    width: 270px;
    height: 475px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    display: inline-block;
    margin: 10px;
    padding: 0;
    justify-content: center;
}

.card2 {
    width: 270px;
    height: 475px;
    background-color: #1a1a1a;
    border-radius: 20px;
    align-items: center;
    transition: all .2s;
    padding: 0px;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 20px 1px rgba(0, 255, 117, 0.30);
}

.card h2 {
    line-height: 90%;
    text-align: left;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

.textId {
    line-height: 90%;
    text-align: center;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card img {
    max-width: 90%;
    margin-top: 10px;
    border-radius: 20px;
}

.heading {
    font-size: 1.3em;
    color: chartreuse;
}

.card2 button {
    float: right;
    border-radius: 20px;
    /* display: inline-block; */
    margin-bottom: 5em;
}